<form method="POST" action="/form">

<input type="text" name="envelope" placeholder="envelope">
<input type="text" name="stamp" placeholder="stamp">
<input type="text" name="address" placeholder="address">

<button type="submit">Send Mail</button>

</form>